.expdiv{
    background-color:white;
    height: 15vh;
    width: 15vw;
    box-shadow: 0px 3px 10px grey;
    border-radius: 10px;
    text-align: center;
    margin-top: 2%;
    
}
@media (max-width: 590px) {
    .expdiv{
        height: 15vh;
        width: 40vw;
        
    }
  }